@import '../abstracts/variables';

// Grayscale Colors
.gray01 { color: $gray01; }
.gray02 { color: $gray02; }
.gray03 { color: $gray03; }
.gray04 { color: $gray04; }
.gray05 { color: $gray05; }
.gray06 { color: $gray06; }
.gray07 { color: $gray07; }
.gray08 { color: $gray08; }
.gray09 { color: $gray09; }
.gray10 { color: $gray10; }

// Primary Colors
.primary01 { color: $primary01; }
.primary02 { color: $primary02; }
.primary03 { color: $primary03; }
.primary04 { color: $primary04; }
.primary05 { color: $primary05; }
.primary06 { color: $primary06; }
.primary07 { color: $primary07; }
.primary08 { color: $primary08; }
.primary09 { color: $primary09; }
.primary10 { color: $primary10; }

// Text Colors
.text01 { color: $text01; }
.text02 { color: $text02; }
.text03 { color: $text03; }
.text04 { color: $text04; }
.text05 { color: $text05; }

// flex
$alignments: (
  "center", 
  "space-between", 
  "space-around", 
  "space-evenly", 
  "flex-start", 
  "flex-end"
);
 
@each $align in $alignments {
  .justify-#{$align} {
    justify-content: #{$align};
  }
 
  .items-#{$align} {
    align-items: #{$align};
  }
 
  .justify-items-#{$align} {
    justify-items: #{$align};
  }
 
  .content-#{$align} {
    align-content: #{$align};
  }
}