@import '../abstracts/variables';
@import '../abstracts/mixins';

/* 기본 스타일 */
.card-wrap {
  container-type: inline-size; /* 컨테이너 쿼리 적용 */
  container-name: card-layout; /* 컨테이너 이름 설정 */
}
// 1280px 미만에서는 minimum 3열
.card-inner {
  display: grid;
  -webkit-column-gap: 16px;
  column-gap: 16px;
  row-gap: 24px;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  overflow-x: auto;
}

.acl-card {
  display: flex;
  background-color: $primary01;
  padding: 0.8rem;
  width: 100%;
  height: auto;
  min-height: 187px;
  border-radius: 0.625rem;
  aspect-ratio: 3/2;
}

// 1280px 이상에서는 auto-fill로 3열부터 늘어나게 되는 미디어 쿼리
@media screen and (min-width: 1280px) {
  .card-inner {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

/* 컨테이너 쿼리 사용할 경우 주석 해제: 컨테이너의 너비에 따라 열 수를 변경 */

// 1280 x 1024
// @container card-layout (min-width: 824px) {
//   .card-inner {
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//   }
// }
// 1366 x 768 (노트북)
// @container card-layout (min-width: 910px) {
//   .card-inner {
//     grid-template-columns: repeat(4, minmax(0, 1fr));
//   }
// }

// 1600 x 900
// @container card-layout (min-width: 1144px) {
//   .card-inner {
//     grid-template-columns: repeat(4, minmax(0, 1fr));
//   }
// }

// 1920 x 1080 (기준 해상도)
// @container card-layout (min-width: 1464px) {
//   .card-inner {
//     grid-template-columns: repeat(5, minmax(0, 1fr));
//   }
// }




// QR Code _ Image 또는 Canvas
.acl-code {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  border-radius: 1rem;
  background-color: $white;
  color: $text03;

  // QR Code
  &_qr {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
  }

  // Text Code
  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      @include typography(0.9375rem, 500, 150%, $letter-spacing-negative);
    }
    em {
      // Heading-01
      @include typography(1.75rem, 700, 140%, $letter-spacing-negative);
      color: $text01;
    }
  }

  // bg color
  &--blue {
    background-color: $primary01;
  }

  // sizing
  &_small {
    gap: 1.25rem;
    padding: 1.25rem 0;
    border-radius: 0.75rem;

    .acl-code_qr {
      width: 3.375rem;
      height: 3.375rem;
    }

    .acl-code_text {
      span {
        font-size: 0.8125rem;
      }
      em {
        // Heading-01
        font-size: 1.25rem;
        color: $text01;
      }
    }
    
  }
}