/*----------------------
  SNB
----------------------*/
.snb-tit {
  padding-bottom: 10px;
  text-align: left;
  color: var(--color-text-01);
  @include flex-space-between;
  @include font-title-02-b;
  
  &:not(:first-of-type) {
    margin-top: 40px;
  }

  .btn-group {
    gap: 0.625rem;
  }
}

.snb {
  .form-element {
    margin-bottom: 1.5rem;
  }
}

.snb-desc {
  margin-top: 8px;
  color: var(--color-text-04);
  @include font-caption-01-m;
}